#-----------------------------
# SERVER
#-----------------------------
set sv_port 11200

#-----------------------------
# GAME
#----------------------------
set g_adminpassword ""
if DEBUG set pl_autoadmin 1

### ingame day duration in irl mins
set g_day_mins 30

### 0-24 or -1 = random
set g_daytime -1
if DEBUG set g_daytime 14

#-----------------------------
# PHYSICS
#-----------------------------
# set ow_broadphase "Dbvt"
# set ow_broadphase "32bitAxisSweep3"

### AABB of openworld map - required by some broadphase types
set ow_aabb_min_x -2561.3
set ow_aabb_min_y -2591.24
set ow_aabb_min_z -100
set ow_aabb_max_x 3447.4
set ow_aabb_max_y 3136.09
set ow_aabb_max_z 900

#-----------------------------
# VEHICLES & NPCS
#-----------------------------

### vehicles on spawn
set ow_vehicle_count 100
set ow_vehicle_row_length 20
# set ow_vehicle_distance_x 4
# set ow_vehicle_distance_y 7
# set ow_vehicle_spawn_interval 160

### npcs in openworld
set ow_npc_count 180
# set ow_npc_spawn_time_fast 80
# set ow_npc_spawn_time_slow_min 2000
# set ow_npc_spawn_time_slow_max 10000

# set ow_npc_abandoned_vehicle_despawn_time 300000
# set ow_npc_boredom_death_time 300000
# set ow_npc_dead_despawn_time 15000

#if DEBUG enable FAST_DESPAWNS
if FAST_DESPAWNS set ow_npc_abandoned_vehicle_despawn_time 1000
if FAST_DESPAWNS set ow_npc_boredom_death_time 1000
if FAST_DESPAWNS set ow_npc_dead_despawn_time 1000
