[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/easywsclient"]
	path = external/easywsclient
	url = https://github.com/dhbaird/easywsclient.git
[submodule "external/Crow"]
	path = external/Crow
	url = https://github.com/det-fys/Crow
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/xiph/ogg.git
[submodule "external/dawn"]
	path = external/dawn
	url = https://github.com/google/dawn.git
[submodule "external/recastnavigation"]
	path = external/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "external/zip"]
	path = external/zip
	url = https://github.com/kuba--/zip
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = https://github.com/cedricguillemet/imguizmo
[submodule "external/trianglepp"]
	path = external/trianglepp
	url = https://github.com/mrkkrj/TrianglePP.git
