[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/easywsclient"]
	path = external/easywsclient
	url = https://github.com/dhbaird/easywsclient.git
[submodule "external/Crow"]
	path = external/Crow
	url = https://github.com/det-fys/Crow
